:root {
  --color: #303030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: inter, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 1440px;
  height: 475px;
  background-color: var(--color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.header h1 {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 600;
  margin: 3rem 0 1rem 0;
}

.header p {
  font-family: inherit;
  font-weight: 500;
  font-size: 0.9rem;
}

.details {
  width: 1440px;
  height: 200px;
  background-color: #f9f9f9;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 100px;
}

.detail h2 {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1px;
}

.detail p {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 400;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
}

.about-text {
  padding: 0 50px;
  max-width: 735px;
}

#about-title {
  font-family: inherit;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#about-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
}

.about-img {
  width: 510px;
  height: 605px;
}

.about-img img {
  width: 100%;
}

footer {
  height: 538px;
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer h1 {
  font-size: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

form input {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
}

form input:focus {
  outline: 0;
}

#btn {
  align-self: center;
  background-color: #c07212;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: transform 0.5sec;
}

#btn:hover {
  opacity: 0.8;
}

#btn:active {
  transform: translateY(2px);
}
